@model UMS.Web.ViewModels.Departments.CreateDepartmentInputForm
@{
    this.ViewData["Title"] = "Add new department";
    var facultyItems = this.Model.FacultyItems.Select(kvp => new SelectListItem(kvp.Value, kvp.Key));
}

<h1 style="text-align:center">@this.ViewData["Title"]</h1>

<form method="post" class="col-md-6 offset-md-3">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Fax"></label>
        <input asp-for="Fax"  class="form-control" />
        <span asp-validation-for="Fax" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FacultyId"></label>
        <select asp-for="FacultyId" class="form-control" asp-items="facultyItems"></select>
        <span asp-validation-for="FacultyId" class="text-danger"></span>
    </div>

    <div>
        <input type="submit" value="Create" class="btn btn-success" />
        <a asp-action="All" class="btn btn-info">Back to all departments</a>
    </div>
</form>