@using UMS.Data.Common.Enumerations

@model UMS.Web.ViewModels.Students.CreateStudentInputForm
@{
    this.ViewData["Title"] = "Add new student";
    var majorItems = this.Model.MajorItems.Select(kvp => new SelectListItem(kvp.Value, kvp.Key));
}

<h1 style="text-align:center">@this.ViewData["Title"]</h1>

<form method="post" class="col-md-6 offset-md-3">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FirstName">First name</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MiddleName">Middle name</label>
        <input asp-for="MiddleName" class="form-control" />
        <span asp-validation-for="MiddleName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last name</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UniformCivilNumber">Uniform civil number</label>
        <input asp-for="UniformCivilNumber" class="form-control" />
        <span asp-validation-for="UniformCivilNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth">Date of birth</label>
        <input asp-for="DateOfBirth" type="date" asp-format="{0:dd-MM-yyyy}" value="@DateTime.UtcNow.ToString("yyyy-MM-dd")" class="form-control" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender"></label>
        <select asp-for="Gender" class="form-control" asp-items="@Html.GetEnumSelectList<Gender>()"></select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressStreetName">Address street name</label>
        <input asp-for="AddressStreetName" class="form-control" />
        <span asp-validation-for="AddressStreetName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressDistrictName">Address district name</label>
        <input asp-for="AddressDistrictName" class="form-control" />
        <span asp-validation-for="AddressDistrictName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressTownName">Address town name</label>
        <input asp-for="AddressTownName" class="form-control" />
        <span asp-validation-for="AddressTownName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressCountryName">Address country name</label>
        <input asp-for="AddressCountryName" class="form-control" />
        <span asp-validation-for="AddressCountryName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressContinentName">Address continent name</label>
        <select asp-for="AddressContinentName" class="form-control" asp-items="@Html.GetEnumSelectList<Continent>()"></select>
        <span asp-validation-for="AddressContinentName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">Phone number</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-inline">
        <label class="my-1 mr-2" asp-for="HasScholarship">Scholarship</label>
        <input class="mb-0 mr-sm-0" asp-for="HasScholarship" />
        <span asp-validation-for="HasScholarship" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MajorId">Major</label>
        <select asp-for="MajorId" class="form-control" asp-items="majorItems"></select>
        <span asp-validation-for="MajorId" class="text-danger"></span>
    </div>

    <div>
        <input type="submit" value="Create" class="btn btn-success" />
        <a asp-action="All" class="btn btn-info">Back to all students</a>
    </div>
</form>
