<div style="float:right; margin-right: -212px; margin-top: -18px; margin-bottom: 50px">
    <img src="~/images/system-administrator-holding-white-business-card-word-admin.jpg" class="jpg" alt="Admin home page image" height="600" width="1600" />
</div>
