@using UMS.Data.Common.Enumerations

@model UMS.Web.ViewModels.Faculties.EditFacultyInputForm
@{ ViewData["Title"] = "Edit faculty"; }

<h2 style="text-align: center">@ViewData["Title"]</h2>

<form method="post" id="editForm" class="col-md-6 offset-md-3">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressStreetName"></label>
        <input asp-for="AddressStreetName" class="form-control" />
        <span asp-validation-for="AddressStreetName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressDistrictName"></label>
        <input asp-for="AddressDistrictName" class="form-control" />
        <span asp-validation-for="AddressDistrictName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressTownName"></label>
        <input asp-for="AddressTownName" class="form-control" />
        <span asp-validation-for="AddressTownName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressPostalCode"></label>
        <input asp-for="AddressPostalCode" class="form-control" />
        <span asp-validation-for="AddressPostalCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressCountryName"></label>
        <input asp-for="AddressCountryName" class="form-control" />
        <span asp-validation-for="AddressCountryName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressContinent"></label>
        <select asp-for="AddressContinent" class="form-control" asp-items="@Html.GetEnumSelectList<Continent>()"></select>
        <span asp-validation-for="AddressContinent" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Fax"></label>
        <input asp-for="Fax" class="form-control" />
        <span asp-validation-for="Fax" class="text-danger"></span>
    </div>

    <hr />
    <input type="hidden" asp-for="Id" />
</form>

<div style="text-align:center">
    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modalEdit">Save changes</button>
</div>

<!-- Modal -->
<div class="modal" id="modalEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Do you confirm this changes?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="editForm.submit()">Save changes</button>
            </div>
        </div>
    </div>
</div>
