@using UMS.Common

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our </h1>
    <h1 class="display-4">@GlobalConstants.SystemName</h1>
</div>

<div class="float-left">
    <h2>
        The time is:
        <input type="text" id="clock" style="font-size: 30px; border: 0; outline: none" readonly />
    </h2>
</div>


<partial name="_ClockScriptPartial" />
