@using UMS.Data.Common.Enumerations

@model UMS.Web.ViewModels.Homeworks.EditHomeworkInputForm

@{
    ViewData["Title"] = "Edit";
}

<h1 style="text-align:center">@ViewData["Title"]</h1>

<hr />

<form method="post" id="editForm" class="col-md-6 offset-md-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <input asp-for="Content" class="form-control" />
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HomeworkType"></label>
        <select asp-for="HomeworkType" class="form-control" asp-items="@Html.GetEnumSelectList<HomeworkType>()"></select>
        <span asp-validation-for="HomeworkType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OpenForSubmissionTime"></label>
        <input asp-for="OpenForSubmissionTime" type="date" class="form-control" />
        <span asp-validation-for="OpenForSubmissionTime" class="text-danger"></span>
    </div>
</form>

<div style="text-align:center">
    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modalEdit">Save changes</button>
</div>

<partial name="_EditConfirmChangesPartial" />
