@using UMS.Data.Common.Enumerations

@model UMS.Web.ViewModels.Majors.CreateMajorInputForm

@{
    this.ViewData["Title"] = "Add new major";
    var departmentItems = this.Model.DepartmentItems.Select(kvp => new SelectListItem(kvp.Value, kvp.Key));
}

<h1 style="text-align:center">@this.ViewData["Title"]</h1>

<form method="post" class="col-md-6 offset-md-3">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MajorType">Major type</label>
        <select asp-for="MajorType" class="form-control" asp-items="@Html.GetEnumSelectList<MajorType>()"></select>
        <span asp-validation-for="MajorType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Duration"></label>
        <input asp-for="Duration" placeholder="" class="form-control" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DepartmentId">Department</label>
        <select asp-for="DepartmentId" class="form-control" asp-items="departmentItems"></select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>

    <div>
        <input type="submit" value="Create" class="btn btn-success" />
        <a asp-action="All" class="btn btn-info">Back to all majors</a>
    </div>
</form>
